<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Melody</a>
    <ul id="nav-mobile" class="right">
      <% if current_user %>
        <li class="hide-on-small-and-down"><%= current_user.email %></li>
        <li><%= link_to "Logout", :logout, id: 'sign-out-link', data: { "turbo-method": :delete } %></li>
        <% else %>
        <%= link_to "Login", login_path, id: 'sign-in-link' %>
      <% end %>
    </ul>
  </div>
</nav>